/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

.app {
  text-align: center;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.home h1 {
  color: gold;
  font-size: 3rem;
}