/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('C:/Users/medur/.vscode/cli/cityconnectapp/public/background.jpg'); /* Path to the image in the public folder */
  background-size: cover; /* Ensure the image covers the entire page */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-attachment: fixed; /* Fix the background while scrolling */
  color: white;
}

.app {
  text-align: center;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home h1 {
  color: gold;
  font-size: 3rem;
}